.color-palette{
    width: fit-content;
    float: right;
}

.palette-0 input[type="radio"] + label {
    background: #FFB400;
}

.palette-1 input[type="radio"] + label {
    background: #FF5A5F;
}

.palette-2 input[type="radio"] + label {
    background: #8CE071;
}

.palette-3 input[type="radio"] + label {
    background: #00D1C1;
}

.palette-4 input[type="radio"] + label {
    background: #007A87;
}

.palette-5 input[type="radio"] + label {
    background: #7B0051;
}

