h1 span {
  color: white;
  padding: 0 5px;
  font-size: 2.6rem;
}

.M {
  background: #ffb400;
}

.A {
  background: #ff5a5f;
}

.S {
  background: #8ce071;
}

.T {
  background: #00d1c1;
}

.E {
  background: #007a87;
}

.R {
  background: #7b0051;
}

.MIND {
  color: #333333;
}
