.rules{
    text-align: start;
    margin: 1rem 0;
}

.rules-btn{
    font-size: 1.5rem;
    cursor: pointer;
}

.rules-desc{
    border: #EAEBE9 1px solid;
    padding: 2%;
    display: none;
}

.display{
    display: block;
}